<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в панель администартора</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>
  <div class="alert alert-info" *ngIf="message">{{message}}</div>

  <div class="form-control"
       [ngClass]="{invalid: emailControl.touched && emailControl.invalid}"
  >
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="emailControl.touched && emailControl.invalid"
         class="validation">
      <small *ngIf="emailControl.errors.required">Email is required</small>
      <small *ngIf="emailControl.errors.email">Incorrect email</small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: passwordControl.touched && passwordControl.invalid}"
  >
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation"
         *ngIf="passwordControl.touched && passwordControl.invalid">
      <small *ngIf="passwordControl.errors.required">Password is required</small>
      <small *ngIf="passwordControl.errors.minlength.requiredLength">
        Password must be at least {{passwordControl.errors.minlength.requiredLength}} characters,
        enter {{passwordControl.errors.minlength.requiredLength - passwordControl.errors.minlength.actualLength}} more characters
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary"
            [disabled]="form.invalid || isSubmitted"
  >
    Войти
  </button>
</form>
